<app-header/>
<main>
  <ul id="users">
    <li>
      <app-user [userName]="users()[0].name" [userAvatar]="users()[0].avatar"/>
    </li>
    <li>
      <app-user [userName]="users()[1].name" [userAvatar]="users()[1].avatar"/>
    </li>
    <li>
      <app-user [userName]="users()[2].name" [userAvatar]="users()[2].avatar"/>
    </li>
    <li>
      <app-user [userName]="users()[3].name" [userAvatar]="users()[3].avatar"/>
    </li>
    <li>
      <app-user [userName]="users()[4].name" [userAvatar]="users()[4].avatar"/>
    </li>
    <li>
      <app-user [userName]="users()[5].name" [userAvatar]="users()[5].avatar"/>
    </li>
  </ul>
</main>

